* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
}

nav {
    background-color: darkgray;
    height: 50px;
    display: flex;
    justify-content: space-between;
    
    padding-top: 15px;
    
}

div.nav {
    display: inline-block;
    vertical-align: middle;
    height: 100%
    
}

p.question {
    width: 50%;
    min-height: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px black solid;

}

ul {
    width: 50%;
    height: 200px;
    border: 1px solid black;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

form {
    margin-left: auto;
    margin-right: auto;
    border: 1px black solid;
    width: 50%;
}

input.answer-choice {
    height: 50px;
    vertical-align: middle;
    border: 1px solid black;
}

li {
    height: 25%;
    border: 1px solid black;
}

button.submit-answer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

button.next-question {
    
}

div.answer-submitted {
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    margin-top: 50px;
}

div.answer {
    display: inline-block;
    border: 1px black solid;
    height: 100px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
}

footer {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center
}

audio.theme {
    margin-top: 10px;
}